*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: MyFont;
}
body{
    background-color: #000;
    color:#fff;
}
@font-face {
    font-family: MyFont;
    src: url(D-DIN-Bold.otf);
}
@font-face {
    font-family: FontLight;
    src: url(D-DIN-LIGHT.otf);
}
#main{
    width:100%;
    height: 100%;
}
#page1{
    width:100%;
    height:100vh;
    background-image: url(./images/img-1.jpg);
    background-position: center;
    background-size: cover;
}
#wrapper{
    width:85%;
    height: 100vh;
    float: right;
    position: relative;
}
.navbar{
    width:100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar svg{
    width:240px;
    height:80px;
    fill:#fff;
    margin-right: 20px;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding:0 18px;
}
.right a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding:0 30px;
}
.right i{
    font-size: 20px;
    margin-right: 20px;
}
.text{
    position: absolute;
    bottom:15%;
    left:0;
}
.text h4{
    text-transform: uppercase;
    font-family: FontLight;
    font-size: 20px;
    padding:10px 0;
    letter-spacing: 1px;
}
.text h1{
    text-transform: uppercase;
    font-size: 50px;
}
.btn{
    width:162px;
    height: 52px;
    padding:20px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.btn a{
    color:#fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
#page2{
    width:100%;
    height:100vh;
    background-image: url(./images/img-2.jpg);
    background-position: center;
    background-size: cover;
}
#wrapper2{
    width:85%;
    height: 100vh;
    float: right;
    position: relative;
}
#page3{
    width:100%;
    height:100vh;
    background-image: url(./images/img-3.jpg);
    background-size: cover;
    background-position: center;
}
#wrapper3{
    width:85%;
    height: 100vh;
    float: right;
    position: relative;
}
.footer{
    width:100%;
    height:80px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a{
    color:#fff;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding:0 20px;
}